<div class="container-data  gap-6 flex flex-row">
    <div class="container-image   flex justify-content-center align-items-center w-6">
        <div class="circulo w-15rem h-15rem ">Círculo</div>
    </div>
    <p-divider layout="vertical" />
    <div class="container-info w-6 flex flex-column justify-content-center align-items-center pl-4 pr-4">
        <p class="text-500">Mi nombre es <span>Agustin Moya</span> Soy programador full stack junior</p>
        <button pButton pRipple label="Submit" class="p-button-success">
        </button>
    </div>
</div>